.my_top-main-background {
    height: 15vh;
    background-color: #109687;
}

.my_bottom-main-background {
    height: 85vh;
    background-color: #d9dbd5;
}

div.my_content {
    width: 80vw;
    min-width: 550px;
    height: 95vh;
    background-color: white;
    border: 1px solid black;
}

div.my_content
.my_left-content {
    width: 35%;
    height: 100%;
    border-right: 1px solid #d9dbd5;
}

div.my_content-header {
    height: 10%;
    background-color: #eaeaea;
}

div.my_avatar {
    width: 40px;
    height: 40px;
}

div#user span {
    line-height: 40px;
    vertical-align: middle;
}

div#active-contact-info {
    font-size: 0.7rem;
    line-height: 20px;
}

div.actions
i {
    cursor: pointer;
}

div.my_notifications {
    height: 10%;
    background-color: #8edafc;
}

div.my_notifications
.my_bell {
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    vertical-align: center;
    color: #8edafc;
    border-radius: 50%;
    background-color: white;
}

div.my_notifications
.my_notifications-content {
    font-size: 0.7rem;
}

div.input-group {
    height: 7%;
    background-color: #fafafa;
}

div.input-group
.input-group-text {
    cursor: pointer;
}

div#contact-list {
    height: calc(100% - 27%);
    overflow-y: auto;
}

div#contact-list
div.my_list-element {
    cursor: pointer;
    border-bottom: 1px solid #d9dbd5;
}

div#contact-list
div.my_list-element.active {
    background-color: lightgray;
}

div#contact-list
div.my_list-element:hover {
    background-color: #e9e6e6;
}

div#contact-list
div.my_list-element div.info {
    font-size: 0.6rem;
}

div#contact-list
div.my_list-element span.time {
    font-size: 0.5rem;
}
div.my_active-contact {
    display: none;
}

div.my_active-contact.active {
    display: block;
}

div.my_content
.my_right-content {
    width: 65%;
    height: 100%;
}

div.my_main-right-content {
    height: 80%;
    background-image: url(../img/mine.jpg);
}

div.my_right-footer {
    height: 10%;
    background-color: #f3eeea;
}

div.my_right-footer
i {
    cursor: pointer;
}